/*///////////////////////////////////*/

/*SECTION DENTOL INTRO*/
#dentol-intro{
    text-align: center;
    margin:0 auto;
    padding:20px;   
}

 #dentol-intro img{
max-width: 360px;height:auto;   
}

/*TERMINA SECTION DENTOL INTRO*/

/*///////////////////////////////////*/